<!DOCTYPE html>
<html>
<head>
  <title>CursoRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Plantilla application</h1>
<!--LINKS-->
<ul>
  <li><%= link_to "Inicio", :controller => "home", :action => "index" %></li>
  <li><%= link_to "Quiénes somos", :controller => "home", :action => "quienes_somos" %></li>
  <li><%= link_to "Localización", :controller => "home", :action => "localizacion" %></li>
  <!--Link with parameter-->
  <li><%= link_to "Servicios", :controller => "home", :action => "servicios", :param => "lolo" %></li>
  <!--Link with options-->
  <li><%= link_to "Contacto", {:controller => "home", :action => "contacto", :id => "000"}, :title => "Info" %></li>
  <!--External link-->
  <li><%= link_to "9gag", "http://www.9gag.com", :title => "Memes" %></li>
  
  <!--Conditional links-->
  <!--DOESN'T WORK!!!-->
  <li><%= link_to_if(true, "Iniciar sesión", :action => "index") do
    link_to "Registro", :action => "servicios"
  end %></li>
  <li><%= link_to_if(false, "No me ven", :action => "index") %></li>
  <li><%= link_to_unless(true, "A mi tampoco", :action => "index") %></li>
  
  <!--Show link if it's not the current-->
  <li><%= link_to_unless_current "Otro contacto", :action => "contacto" %></li>
  
  <!--Mail link-->
  <li><%= mail_to "foo@mail.com", nil, :subject => "Sin asunto" %></li>
</ul>
<%= yield %>

</body>
</html>
